body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
        'Droid Sans', 'Helvetica Neue', sans-serif;
}

.main {
    height: 100vh;
    padding: 24px;
    display: flex;
    justify-content: space-between;
}

.main .ih-canvas-wrapper {
    width: 70%;
}

.main .ih-tool-wrapper {
    width: 30%;
    margin-left: 8px;
}